footer {
  display: block;
  background-color: #1a1a1a;
  p {
    display: block;
    max-width: var(--l-page-width);
    margin-left: auto;
    margin-right: auto;
    padding: var(--l-inner-padding);
    margin-bottom: 0px;
    a {
      color: inherit;
    }
  }
}