h1 {
  font-size:93px;
  letter-spacing: -0.055em;
  line-height: 0.9em;
  text-indent: -0.03em;
  margin-bottom: 4rem;
  margin-top: 10px;
  font-weight: 740;
}

.extract-slot {
  p {
    font-size: 2em;
    letter-spacing: -0.055em;
    text-indent: -0.03em;
    .itr {
      font-size: 0.5em;
      font-style: italic
    }
  }
}

.extract {
  button {
    background-color: #fff;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: none;
    border: 2px solid #fff;;
    transition: 0.2s ease-in-out;
    &:hover {
      transition: 0.2s ease-in-out;
      background-color: transparent;
      color: #fff;
    }
  }
}