@import "@/styles/_vars.scss";
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
  background-color: var(--c-dark-grey);
  color: #fff;
  margin: 0px;
}