@import 'normalize-scss';
@include normalize();

@import "vars";
@import "animations";
@import "scrollsnap";
@import "page";
@import "typography";
@import "footer";

html, body {
  font-family: "inter var", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
  background-color: var(--c-dark-grey);
  color: #fff;
  margin: 0px;
  overflow: hidden;
  height: 100vh;
}

*, *::before, *::after{
  box-sizing: border-box;
}


.fh {
  height: 100vh;
}

.source {
  font-size: 0.6em;
  font-weight: italic;
}